body {
  background-color: #000;
  color: #fff;
}

h1 {
  font-family: sans-serif;
}

input[type="time"] {
  background: none;
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;

  color: #aff;
  text-shadow: 0 0 5px #0f5, 0 0 10px #0f0, 0 0 20px #0ff;
}

.time {
  font-size: 100px;
  font-family: "Nova Mono";
}

#countDownTime {
  color: #ffa;
  text-shadow: 0 0 5px #f50, 0 0 10px #f00, 0 0 20px #ff0;
}
