body {
  text-align: center;
  background-color: #000;
  color: #fff;
}

h1 {
  font-family: sans-serif;
}

input[type="time"] {
  color: #fff;
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
  background: none;
}

.current-time {
  font-size: 100px;
  font-family: 'Segment7Standard';
}

.input-time {
  font-size: 100px;
  font-family: 'Segment7Standard';
  font-weight: normal
}

.countdown-time {
  font-size: 100px;
  color: #ffa;
  font-family: 'Segment7Standard';
  text-shadow: 0 0 5px #f50,
    0 0 10px rgba(255, 0, 0, 0.76),
    0 0 20px #ff0;
  /* text-shadow: 0 0 3px 0 #ff0; */
}